body {
    width: 90%;
    margin-left: 5%;
    height:100%;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    background-color: #e2ecf0;
    font-size: large;
}

.section {
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;
    border-radius: 1em;
    border-style: outset;
    border-color: rgb(110, 141, 141);
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-heading {
    margin-top: 10%;
    text-align: center;
    border: none;
}

header {
    background: gray;
    height: fit-content;
    text-align: center;
}
.container {
    top: 0;
    display: fixed;
    padding-bottom: 1em;
    position: fixed;
    width: 90%;
}

.container a {
    display: flex;
    color: #d2d2d2;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.container a:hover {
    color: whitesmoke;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.container li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    position: relative;
}

.container a::before {
    background-color: #e2ecf0;
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 0%;
    top: 5px;
    transition: all ease-in-out 200ms;
}

.container a:hover::before {
    width: 100%;
}

.section a {
    color: #333;
}

.section ul {
    list-style: none;
    text-decoration: none;
    align-items: left;
    display: flex;
    flex-direction: left;
}

.section ul li {
    padding-left: 30px;
    padding-right: 30px;
}
.active-navLink {
    color: black;
}

.active-section {
    border-width: 0.2em;
}